In [1]:
import pandas as pd
import numpy as np
import random
import string

## Cleaning dataset degli utenti

In [2]:
df_utenti = pd.read_csv("datasets/users_cleaned.csv")

In [3]:

df_utenti = df_utenti.drop(columns=["user_watching", "user_completed","user_onhold","user_dropped","user_plantowatch","user_days_spent_watching", "access_rank", "stats_mean_score", "stats_rewatched", "stats_episodes","user_days_spent_watching"])
df_utenti = df_utenti.reset_index(drop=True)

In [4]:
df_utenti

,username,user_id,gender,location,birth_date,join_date,last_online
0,karthiga,2255153,Female,"Chennai, India",1990-04-29 00:00:00,2013-03-03 00:00:00,2014-02-04 01:32:00
1,Damonashu,37326,Male,"Detroit,Michigan",1991-08-01 00:00:00,2008-02-13 00:00:00,2017-07-10 06:52:54
2,bskai,228342,Male,"Nayarit, Mexico",1990-12-14 00:00:00,2009-08-31 00:00:00,2014-05-12 16:35:00
3,terune_uzumaki,327311,Female,"Malaysia, Kuantan",1998-08-24 00:00:00,2010-05-10 00:00:00,2012-10-18 19:06:00
4,Bas_G,5015094,Male,"Nijmegen, Nederland",1999-10-24 00:00:00,2015-11-26 00:00:00,2018-05-10 20:53:37
...,...,...,...,...,...,...,...
108706,isoann,797785,Male,Poland:,1997-01-13 00:00:00,2011-10-23 00:00:00,2018-02-25 01:20:27
108707,bumcakee,1396285,Female,"nhollywood, california",1998-07-18 00:00:00,2012-07-14 00:00:00,2017-02-14 00:30:00
108708,Scarlet95,2478991,Female,Belgium,1995-10-17 00:00:00,2013-04-24 00:00:00,2016-12-18 08:41:00
108709,Torasori,3975907,Male,"Latvia, Riga",1998-11-18 00:00:00,2014-07-30 00:00:00,2018-05-24 21:34:46
108710,HMicca,1289601,Female,"Birmingham, England",1995-08-12 00:00:00,2012-05-05 00:00:00,2012-11-15 08:10:00

In [5]:
def genera_password(lunghezza=10):
    caratteri = string.ascii_letters + string.digits
    return ''.join(random.choices(caratteri, k=lunghezza))

df_utenti['password'] = [genera_password() for _ in range(len(df_utenti))]

In [6]:
# Assumiamo di avere una colonna 'username'
domini_email = [
    "gmail.com",
    "yahoo.com",
    "outlook.com",
    "hotmail.com",
    "icloud.com",
    "protonmail.com",
    "aol.com",
    "zoho.com",
    "mail.com",
    "gmx.com"
]

df_utenti['email'] = [
    f"{username}@{domini_email[i % len(domini_email)]}"
    for i, username in enumerate(df_utenti['username'])
]

In [7]:
df_utenti

,username,user_id,gender,location,birth_date,join_date,last_online,password,email
0,karthiga,2255153,Female,"Chennai, India",1990-04-29 00:00:00,2013-03-03 00:00:00,2014-02-04 01:32:00,XhNGyXgF6i,karthiga@gmail.com
1,Damonashu,37326,Male,"Detroit,Michigan",1991-08-01 00:00:00,2008-02-13 00:00:00,2017-07-10 06:52:54,OBN6xXacL5,Damonashu@yahoo.com
2,bskai,228342,Male,"Nayarit, Mexico",1990-12-14 00:00:00,2009-08-31 00:00:00,2014-05-12 16:35:00,E4B7PQogCK,bskai@outlook.com
3,terune_uzumaki,327311,Female,"Malaysia, Kuantan",1998-08-24 00:00:00,2010-05-10 00:00:00,2012-10-18 19:06:00,SRGZ7TgOjc,terune_uzumaki@hotmail.com
4,Bas_G,5015094,Male,"Nijmegen, Nederland",1999-10-24 00:00:00,2015-11-26 00:00:00,2018-05-10 20:53:37,5LPMn8SVWT,Bas_G@icloud.com
...,...,...,...,...,...,...,...,...,...
108706,isoann,797785,Male,Poland:,1997-01-13 00:00:00,2011-10-23 00:00:00,2018-02-25 01:20:27,d9rv0Vt9tG,isoann@aol.com
108707,bumcakee,1396285,Female,"nhollywood, california",1998-07-18 00:00:00,2012-07-14 00:00:00,2017-02-14 00:30:00,7xDeyfUqcd,bumcakee@zoho.com
108708,Scarlet95,2478991,Female,Belgium,1995-10-17 00:00:00,2013-04-24 00:00:00,2016-12-18 08:41:00,wZ7pr1Ms3t,Scarlet95@mail.com
108709,Torasori,3975907,Male,"Latvia, Riga",1998-11-18 00:00:00,2014-07-30 00:00:00,2018-05-24 21:34:46,GrQc64KwY7,Torasori@gmx.com
108710,HMicca,1289601,Female,"Birmingham, England",1995-08-12 00:00:00,2012-05-05 00:00:00,2012-11-15 08:10:00,nE3KWEL6f4,HMicca@gmail.com

## Cleaning dataset degli anime

In [8]:
df_anime = pd.read_csv("datasets/anime_cleaned.csv")

In [9]:
df_anime.columns

Index(['anime_id', 'title', 'title_english', 'title_japanese',
       'title_synonyms', 'image_url', 'type', 'source', 'episodes', 'status',
       'airing', 'aired_string', 'aired', 'duration', 'rating', 'score',
       'scored_by', 'rank', 'popularity', 'members', 'favorites', 'background',
       'premiered', 'broadcast', 'related', 'producer', 'licensor', 'studio',
       'genre', 'opening_theme', 'ending_theme', 'duration_min',
       'aired_from_year'],
      dtype='object')

In [10]:
print(df_anime.iloc[0])

anime_id                                                       11013
title                                                  Inu x Boku SS
title_english                              Inu X Boku Secret Service
title_japanese                                                妖狐×僕SS
title_synonyms                                       Youko x Boku SS
image_url          https://myanimelist.cdn-dena.com/images/anime/...
type                                                              TV
source                                                         Manga
episodes                                                          12
status                                               Finished Airing
airing                                                         False
aired_string                            Jan 13, 2012 to Mar 30, 2012
aired                     {'from': '2012-01-13', 'to': '2012-03-30'}
duration                                             24 min. per ep.
rating                                     PG-13 - Teens 13 or older
score                                                           7.63
scored_by                                                     139250
rank                                                          1274.0
popularity                                                       231
members                                                       283882
favorites                                                       2809
background         Inu x Boku SS was licensed by Sentai Filmworks...
premiered                                                Winter 2012
broadcast                                         Fridays at Unknown
related            {'Adaptation': [{'mal_id': 17207, 'type': 'man...
producer           Aniplex, Square Enix, Mainichi Broadcasting Sy...
licensor                                            Sentai Filmworks
studio                                              David Production
genre                         Comedy, Supernatural, Romance, Shounen
opening_theme                                  ['"Nirvana" by MUCC']
ending_theme       ['#1: "Nirvana" by MUCC (eps 1, 11-12)', '#2: ...
duration_min                                                    24.0
aired_from_year                                               2012.0
Name: 0, dtype: object

In [11]:
df_anime

,anime_id,title,title_english,title_japanese,title_synonyms,image_url,type,source,episodes,status,...,broadcast,related,producer,licensor,studio,genre,opening_theme,ending_theme,duration_min,aired_from_year
0,11013,Inu x Boku SS,Inu X Boku Secret Service,妖狐×僕SS,Youko x Boku SS,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,12,Finished Airing,...,Fridays at Unknown,"{'Adaptation': [{'mal_id': 17207, 'type': 'man...","Aniplex, Square Enix, Mainichi Broadcasting Sy...",Sentai Filmworks,David Production,"Comedy, Supernatural, Romance, Shounen","['""Nirvana"" by MUCC']","['#1: ""Nirvana"" by MUCC (eps 1, 11-12)', '#2: ...",24.0,2012.0
1,2104,Seto no Hanayome,My Bride is a Mermaid,瀬戸の花嫁,The Inland Sea Bride,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,26,Finished Airing,...,Unknown,"{'Adaptation': [{'mal_id': 759, 'type': 'manga...","TV Tokyo, AIC, Square Enix, Sotsu",Funimation,Gonzo,"Comedy, Parody, Romance, School, Shounen","['""Romantic summer"" by SUN&LUNAR']","['#1: ""Ashita e no Hikari (明日への光)"" by Asuka Hi...",24.0,2007.0
2,5262,Shugo Chara!! Doki,Shugo Chara!! Doki,しゅごキャラ！！どきっ,"Shugo Chara Ninenme, Shugo Chara! Second Year",https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,51,Finished Airing,...,Unknown,"{'Adaptation': [{'mal_id': 101, 'type': 'manga...","TV Tokyo, Sotsu",NaN,Satelight,"Comedy, Magic, School, Shoujo","['#1: ""Minna no Tamago (みんなのたまご)"" by Shugo Cha...","['#1: ""Rottara Rottara (ロッタラ ロッタラ)"" by Buono! ...",24.0,2008.0
3,721,Princess Tutu,Princess Tutu,プリンセスチュチュ,NaN,https://myanimelist.cdn-dena.com/images/anime/...,TV,Original,38,Finished Airing,...,Fridays at Unknown,"{'Adaptation': [{'mal_id': 1581, 'type': 'mang...","Memory-Tech, GANSIS, Marvelous AQL",ADV Films,Hal Film Maker,"Comedy, Drama, Magic, Romance, Fantasy","['""Morning Grace"" by Ritsuko Okazaki']","['""Watashi No Ai Wa Chiisaikeredo"" by Ritsuko ...",16.0,2002.0
4,12365,Bakuman. 3rd Season,Bakuman.,バクマン。,Bakuman Season 3,https://myanimelist.cdn-dena.com/images/anime/...,TV,Manga,25,Finished Airing,...,Unknown,"{'Adaptation': [{'mal_id': 9711, 'type': 'mang...","NHK, Shueisha",NaN,J.C.Staff,"Comedy, Drama, Romance, Shounen","['#1: ""Moshimo no Hanashi (もしもの話)"" by nano.RIP...","['#1: ""Pride on Everyday"" by Sphere (eps 1-13)...",24.0,2012.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,37405,Dokidoki Little Ooyasan,NaN,dokidokiりとる大家さん,NaN,https://myanimelist.cdn-dena.com/images/anime/...,OVA,Other,0,Currently Airing,...,NaN,[],NaN,NaN,Collaboration Works,Hentai,[],[],30.0,2018.0
6664,37886,Wo Shi Jiang Xiaobai (2018),I&#039;m Joybo OVA,我是江小白 小剧场,Wo Shi Jiang Xiao Bai: Xiao Ju Chang,https://myanimelist.cdn-dena.com/images/anime/...,ONA,Original,1,Finished Airing,...,NaN,"{'Prequel': [{'mal_id': 36775, 'type': 'anime'...",NaN,NaN,2:10 Animation,"Slice of Life, Drama, Romance",[],[],0.0,2018.0
6665,37255,Genki Genki Non-tan: Obake Mura Meiro,NaN,げんきげんきノンタン おばけむらめいろ,NaN,https://myanimelist.cdn-dena.com/images/anime/...,OVA,Original,1,Finished Airing,...,NaN,"{'Prequel': [{'mal_id': 25619, 'type': 'anime'...",NaN,NaN,Polygon Pictures,"Music, Kids",[],[],35.0,2015.0
6666,35229,Mr. Men Little Miss,Mr. Men Little Miss,Mr. Men Little Miss / ミスターメン リトルミス,NaN,https://myanimelist.cdn-dena.com/images/anime/...,ONA,Picture book,0,Currently Airing,...,NaN,[],NaN,NaN,Sanrio,Kids,[],[],2.0,2013.0
6667,36315,Mushi Mushi Mura no Nakama-tachi: Minna Ii Tok...,NaN,むしむし村の仲間たち みんないいとこあるんだよ,NaN,https://myanimelist.cdn-dena.com/images/anime/...,OVA,Original,1,Finished Airing,...,NaN,"{'Alternative version': [{'mal_id': 28549, 'ty...",NaN,NaN,Toei Animation,Kids,[],[],13.0,2017.0

In [12]:
df_anime.drop(columns=["title_japanese", "title_synonyms","airing", "popularity", "members", "background", "premiered", "broadcast", "opening_theme", "ending_theme", "related"], inplace=True)

In [13]:
print(df_anime.iloc[0])

anime_id                                                       11013
title                                                  Inu x Boku SS
title_english                              Inu X Boku Secret Service
image_url          https://myanimelist.cdn-dena.com/images/anime/...
type                                                              TV
source                                                         Manga
episodes                                                          12
status                                               Finished Airing
aired_string                            Jan 13, 2012 to Mar 30, 2012
aired                     {'from': '2012-01-13', 'to': '2012-03-30'}
duration                                             24 min. per ep.
rating                                     PG-13 - Teens 13 or older
score                                                           7.63
scored_by                                                     139250
rank                                                          1274.0
favorites                                                       2809
producer           Aniplex, Square Enix, Mainichi Broadcasting Sy...
licensor                                            Sentai Filmworks
studio                                              David Production
genre                         Comedy, Supernatural, Romance, Shounen
duration_min                                                    24.0
aired_from_year                                               2012.0
Name: 0, dtype: object

## Cleaning dataset animelist

In [14]:
df_animelist = pd.read_csv("datasets/animelists_cleaned.csv")

In [15]:
df_animelist

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
0,karthiga,21,586,0000-00-00,0000-00-00,9,1,NaN,0,2013-03-03 10:52:53,NaN
1,karthiga,59,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-10 13:54:51,NaN
2,karthiga,74,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-04-27 16:43:35,NaN
3,karthiga,120,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-03 10:53:57,NaN
4,karthiga,178,26,0000-00-00,0000-00-00,7,2,0.0,0,2013-03-27 15:59:13,NaN
...,...,...,...,...,...,...,...,...,...,...,...
31284025,Yokonightcore,15611,48,2014-00-00,0000-00-00,9,1,NaN,0,2015-09-07 17:33:03,NaN
31284026,Yokonightcore,27815,22,0000-00-00,0000-00-00,9,1,NaN,0,2015-09-07 17:32:05,NaN
31284027,wargod,5945,39,0000-00-00,0000-00-00,8,2,0.0,0,2010-03-29 04:24:12,NaN
31284028,JMc_SetoKai_LoVe,1316,52,0000-00-00,0000-00-00,9,2,NaN,0,2009-12-23 05:45:14,NaN
31284029,hinogurl_mikha,1744,58,0000-00-00,0000-00-00,10,1,0.0,0,2008-04-05 11:36:20,NaN

In [16]:
df_animelist.drop(columns=["my_start_date", "my_finish_date", "my_status", "my_rewatching", "my_rewatching_ep", "my_last_updated", "my_tags"], inplace=True)

In [17]:
df_animelist.head()

   username  anime_id  my_watched_episodes  my_score
0  karthiga        21                  586         9
1  karthiga        59                   26         7
2  karthiga        74                   26         7
3  karthiga       120                   26         7
4  karthiga       178                   26         7

### Cambio degli id nelle liste

In [18]:
df_anime['anime_id'] = pd.to_numeric(df_anime['anime_id'], errors='coerce')
df_anime['episodes'] = pd.to_numeric(df_anime['episodes'], errors='coerce')

# Merge e salvataggio diretto su df_animelist
df_animelist = df_animelist.merge(
    df_anime[['anime_id', 'episodes']],
    on='anime_id',
    how='left'
)

df_animelist['terminato'] = df_animelist['my_watched_episodes'] >= df_animelist['episodes']

df_animelist['stato'] = df_animelist['terminato'].apply(lambda x: 'completed' if x else 'watching')

df_animelist.drop(columns=["episodes"], inplace=True)

In [19]:
df_animelist

,username,anime_id,my_watched_episodes,my_score,terminato,stato
0,karthiga,21,586,9,True,completed
1,karthiga,59,26,7,True,completed
2,karthiga,74,26,7,True,completed
3,karthiga,120,26,7,True,completed
4,karthiga,178,26,7,True,completed
...,...,...,...,...,...,...
31284025,Yokonightcore,15611,48,9,False,watching
31284026,Yokonightcore,27815,22,9,False,watching
31284027,wargod,5945,39,8,True,completed
31284028,JMc_SetoKai_LoVe,1316,52,9,True,completed
31284029,hinogurl_mikha,1744,58,10,False,watching

In [21]:
df_utenti = df_utenti.rename(columns={'user_id': '_id'})
df_anime = df_anime.rename(columns={'anime_id': '_id'})

In [22]:
user_map = df_utenti.set_index('username')['_id'].to_dict()

# --- Aggiunta della colonna 'user_id' ---
df_animelist['user_id'] = df_animelist['username'].map(user_map)

df_animelist.drop(columns=['username'], inplace=True)
print(df_animelist.head())

   anime_id  my_watched_episodes  my_score  terminato      stato  user_id
0        21                  586         9       True  completed  2255153
1        59                   26         7       True  completed  2255153
2        74                   26         7       True  completed  2255153
3       120                   26         7       True  completed  2255153
4       178                   26         7       True  completed  2255153

In [23]:
df_animelist

,anime_id,my_watched_episodes,my_score,terminato,stato,user_id
0,21,586,9,True,completed,2255153
1,59,26,7,True,completed,2255153
2,74,26,7,True,completed,2255153
3,120,26,7,True,completed,2255153
4,178,26,7,True,completed,2255153
...,...,...,...,...,...,...
31284025,15611,48,9,False,watching,4862000
31284026,27815,22,9,False,watching,4862000
31284027,5945,39,8,True,completed,299167
31284028,1316,52,9,True,completed,263803
31284029,1744,58,10,False,watching,48074

In [24]:
print(df_anime.dtypes)
print(df_utenti.dtypes)
print(df_animelist.dtypes)

_id                  int64
title               object
title_english       object
image_url           object
type                object
source              object
episodes             int64
status              object
aired_string        object
aired               object
duration            object
rating              object
score              float64
scored_by            int64
rank               float64
favorites            int64
producer            object
licensor            object
studio              object
genre               object
duration_min       float64
aired_from_year    float64
dtype: object
username       object
_id             int64
gender         object
location       object
birth_date     object
join_date      object
last_online    object
password       object
email          object
dtype: object
anime_id                int64
my_watched_episodes     int64
my_score                int64
terminato                bool
stato                  object
user_id                 int64
dtype: object

In [26]:
df_anime.to_csv("datasets/anime.csv", index=False)
df_utenti.to_csv("datasets/users.csv", index=False)
df_animelist.to_csv("datasets/animelists.csv", index=False)

In [25]:
df_anime.to_json("datasets/anime.json", orient='records', lines=True)
df_utenti.to_json("datasets/users.json", orient='records', lines=True)
df_animelist.to_json("datasets/animelists.json", orient='records', lines=True)